/*Goggle Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans+JP:wght@100&family=Noto+Sans+TC&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');
/*-------- Tirando algumas configurações padrão do navegaor*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*-----------Centralização do conteúdo----------*/
body{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

main{
    width: 73vh;
    height: 70vh;

    display: flex;
    justify-content: center;
    position: relative;

    background-color: #2f2841;
    box-shadow: -1px 1px 17px 5px rgba(0,0,0,0.62);
    border-radius: 20px;
    overflow: hidden;
    opacity: 1;
}

/*----------- estilização e centralização dos textos ---*/

header{
    text-align: center;
    color: white; 
    text-shadow: black 0.2em 0.2em 0.3em;    
    width: 50vw;
}

div.textoprincipal{
    font-size: 25px;
    text-shadow: 1px solid black;
    font-weight: bold; 
      
}

div.subtexto{
    font-weight: 100;
}

header .subtexto a{
    color: white;
}

#form_title{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 22%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;

    color: #00ff88;
}


/*---------  Animação da box  ------*/
main::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 18s linear infinite;
}

main::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 18s linear infinite;
    animation-delay:-10s ;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}


form{

    position: absolute;
    inset: 2px;
    border-radius: 20px;
    background-color: #2f2841;
    z-index: 10;


}

/*------------  Configuraçoes de Inputs/labels e animações  ---------*/
div.textfield{
    position: relative;
    text-align: center;
    color: #00ff88;
    
}

div.div_nome_sobrenome{
    display: flex;
    margin-left: 0px;
}

div.div_nome_sobrenome input{
    width: 95%;
    margin-left: 10%;
}

#input_sobrenome{
    width: 84%;
}

#input_nome{
    width: 100%;
    margin-left: 15px;
}

.inputs_form{
    width: 95%;
    height: 40px;
    color: black;
    border: 2px solid rgb(0, 211, 211);
    border-radius: 10px;
    padding: 0 20px;
    padding-left: 8%;
    margin: 10px;
    outline: none;
    font-size: 1rem;
    font-weight: 550;
    
}

.inputs_form:focus, .inputs_form:hover{
    background-color: #ADD8E6;
    border: 2px solid #1f1f1f ;
}

.textfield i{
    position: absolute;
    left: 5%;
    top: 50%;
    padding-right: 2%;
    color: #1f1f1f;
    border-right:2px solid black ;
}

/*------------ Botão estilização e animação ------------*/

#form_btn{
    width: 100%;
    display: flex;
    justify-content: end;
}
.button {
    border-radius: 6px;
    background-color: transparent;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    padding: 2px;
    width: 119px;
    cursor: pointer;
    margin: 10px;
    margin-right: 20px;
  }
  
  .button:hover{
    background-color: rgba(255, 255, 255, 0.832);
    transition: 0.7s ease;
  }

  .button span {
    position: relative;
    transition: 0.5s;
    color: #00ff88;
    
  }

  .button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  @media only screen and (max-width:990px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        margin-bottom:35px;
        width: 70%;
    }

    main{
        width: 70%;
    }
  }